body {
    padding: 0;
    margin: 0;
    background: #0e0e0e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

header {
    border-bottom: 1px solid whitesmoke;
    display: flex;
    gap: 4em;
    margin-bottom: 1em;
    background-color: #6a6a6a;
}

header img {
    height: 100px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

header nav a{
    text-decoration: none;
    color: #EEEEEE;
    background-color: rgba(18, 18, 18, 0.76);
    padding: 1em;
    border-radius: 5px;
}

header nav a.selected{
    background-color: rgba(62, 62, 62, 0.76);
}

header nav a:hover{
    background-color: rgba(37, 37, 37, 0.76);
}

main {
    background-color: #EEEEEE;
    width: 90%;
    margin: 1em auto;
    padding: 1.5em;
    border-radius: 1em;
    border: 2px solid #808080;
}

footer {
    background-color: #222222;
    color: aliceblue;
    text-align: center;
    padding: 2em;
    font-size: 1.2em;
}

ol {
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 2em;
}