body {
    padding: 0;
    margin: 0;
    background: rgb(0,212,255);
    background: linear-gradient(158deg, rgba(0,212,255,1) 0%, rgba(29,29,162,1) 49%, rgba(20,18,129,1) 75%, rgba(10,0,182,1) 100%);
    font-size: 1.2em;
}

header {
    border-bottom: 2px solid #bcbcbc;
    display: flex;
    gap: 4em;
    margin-bottom: 1em;
    background: rgb(221,137,27);
    background: radial-gradient(circle, rgba(221,137,27,1) 7%, rgba(255,195,81,1) 100%);
}

header img {
    height: 100px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

header nav a{
    text-decoration: none;
    color: #EEEEEE;
    background-color: rgba(18, 18, 18, 0.76);
    padding: 1em;
    border-radius: 5px;
}

header nav a.selected{
    background-color: rgba(62, 62, 62, 0.76);
}

header nav a:hover{
    background-color: rgba(37, 37, 37, 0.76);
    box-shadow: 10px 5px 5px #a1550f;
}

main {
    background-color: rgba(0,0,0,0.30);
    margin: 1em 3em;
    padding: 1.5em;
    border-radius: 1em;
    border: 2px solid #757575;
    color: #e1e1e1;
}

footer {
    background-color: #222222;
    color: aliceblue;
    text-align: center;
    padding: 2em;
    font-size: 1.2em;
    border-top: 2px solid #757575;
}

ol {
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 2em;
}